@font-face {
    font-family: 'droid';
    src: url('../../assets/font/Droid.ttf');
  }
.header_cart{
    background: #F9EBC7;
    height: 600px;
    background-image:  url("../../assets/images/cart.jpg");
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}
.header_cart_text h1{
    text-align: center;
    color: #FFF;
    padding-top: 80px;
    font-family:'droid';
}
.header_cart_text i{
    color: #FFF;
    font-size: 30px;
    font-family: 'droid';
}