/* general style */
@font-face {
  font-family: 'droid';
  src: url('../../assets/font/Droid.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --green: rgb(65, 185, 105);
    --white: white;
  }
  body{
    direction: rtl;
  }
  /*form*/
  .main-parent{
    background-image: url(../../assets/images/palms.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-parent .form-wrap{
    background-color: rgba(255, 255, 255, 0.438);
    border-radius: 10px;
    padding: 0px 40px 20px 40px;
    backdrop-filter: blur(2px);
  }
  .form-wrap h1{
    font-variant: small-caps;
    font-size: 45px;
    text-align: center;
    margin-bottom: 15px;
  font-family: 'droid';

  }
  .form-wrap h1 span{
    color: var(--green);
  font-family: 'droid';

  }
  .form-wrap .single-input input{
    width: 100%;
    padding: 14px 10px;
    border: 1px solid rgb(144, 138, 143);
    outline: none;
    background-color: transparent;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'droid';

    border-radius: 10px;
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-family: 'droid';

  }
  .submit-btn{
    text-align: center;
    font-family: 'droid';

  }
  .submit-btn input{
    background-color: var(--green);
    outline: none;
    color: var(--white);
    font-family:'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
    border:none;
    border-radius: 10px;
    margin-top: 20px;
  }
  .login-btn input{
    padding: 13px 30px;
  }
  .account-have{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
  }
  .account-have a{
    color: rgba(34,34,34);
    text-decoration: none;
    font-family:'Roboto', sans-serif;
  }
    /*  Photo */
    .profile-pic {
      color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 1px;
      width: fit-content;
      margin: 11.25rem auto 5.25rem;
      transition: all 0.4s ease-in-out;
  }
  
  .profile-pic input {
    display: none;
  }
  
  .profile-pic img {
    position: absolute;
    -o-object-fit: cover;
    object-fit: cover;
    width: 10.3rem;
    height: 10.3rem;
    border-radius: 3.125rem;
    z-index: 0; 
    margin-bottom:95px;
  }
  .profile-pic .-label {
    cursor: pointer;
    background-color: rgba(65, 185, 105, 0.46);
    border-radius: 30%;
    height: 10rem;
    width: 10rem;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom:95px;
  }
  .profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(17, 110, 20, 0.478);
    z-index: 2000;
    color: var(--white);
    border-radius: 30%;
    width: 10rem;
    transition: all 0.3s ease-in-out;
    height: 10rem;
    border: var(--green);
   
  }
  .profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
    border-radius: 2.5rem;
    font-weight: 800;
    font-size: larger;
    font-family: 'droid';

  } 
  
  /* registeration style */
  .signup{
    width: 100%;
    height: 140vh;
  }
  .signup .signup-wrap{
    width:600px;
  }
  .signup-user{
    width: 100%;
    height: 110vh;
  }
  .signup-user .signup-wrap{
    width: 600px;
  }
  .signup-btn input{
    padding: 13px 110px;
  }
  
  /*login style*/
  .log-in{
    width: 100%;
    height: 100vh;  
  }
  .log-in .login-wrap{
    width:450px; 
  }
  
  /*media*/
  @media(max-width:768) {
  
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      width: 100%;
      /* padding: 10px; */
  
    }
  
    form {
      width: 100%;
    }
  
  }