
.welcomesection{
    background-image: url(../assets/imgs/beautiful-wooden-floor-and-barhi-dates-palm-yellow-fruits-field-nature-background-agriculture-product-standing-showcase-background-barhi-dates-palm-tree-garden-and-healthy-food-concept-free-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px 0 300px 0;
}
.containerr{
    width: 80%;
    margin: 0 auto;
}
.roww
{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.farmer, .user{
    background-color: rgb(65, 185, 105);;
    color: white;
    padding: 17px 0px ;
    text-decoration: none;
    margin: 20px  auto;
    border-radius: 50px;
    width: 255px;
}
.farmer:hover{
    color: white;
}
.user:hover{
    color: white;
}
.signup{
    color: white;
    /* margin-top: 50px; */
}
.header h1{
    text-align: center;
    color: rgb(32, 31, 31);
    font-weight: 2000;
   
    font-size: 90px;
}
.header h1::after{
    content: "";
    display: block;
    background: rgb(32, 31, 31);
    border-radius: 4px;
    width: 70px;
    height: 5px;
    margin: 10px auto;
}
.para{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: rgb(32, 31, 31);
    font-size: 40px;
}